<footer class="footer">
  <small>
    <a href="http://">AKB48 Shop</a>
    by Trung Ha
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://">News</a></li>
    </ul>
  </nav>
</footer>